<h1>Suggestions Index</h1>



  <%= form_tag({controller: "suggestions", action: "search_term", method: "post"}) do %>
    <%= label_tag(:search_request, "Enter a search term:") %>
    <%= text_field_tag(:search_request) %>
    <%= submit_tag("Search") %>
  <%end%>
